


frozen_lake/data_curation/frozen_lake_point_dataset/images
frozen_lake/data_curation/frozen_lake_point_dataset_sft
frozen_lake/data_curation/frozen_lake_point_dataset
frozen_lake/data_curation/frozen_lake_dataset_new
frozen_lake/data_curation/frozen_lake_metadata
frozen_lake/data_curation/frozen_lake_metadata_bak
frozen_lake/data_curation/frozen_lake_metadata_v1
frozen_lake/data_curation/frozen_lake_metadata_v2
frozen_lake/data_curation/frozen_lake_metadata_v3
frozen_lake/data_curation/test_point_acc/res
others/grid_bench/minigrid_empty_dataset
frozen_lake/data_curation/rl_data_curation/adjust_data/analysis_results
frozen_lake/data_curation/rl_data_curation/adjust_data/analysis_results2
visual_research/vs_data

**/data/*
real_chart/combine/data
real_chart/PixelReasoner/data
real_chart/refocus/data
real_chart/visualCoT
web/datasets

web/test_results
web/web_datasets
